.home {
  input,
  button {
    padding: 0.65em;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 5px 5px 5px hsla(0, 0, 0, 0.15);
    }
  }

  header {
    background: hsl(205, 80, 45);
    background: linear-gradient(
      hsl(205, 80, 35),
      hsl(205, 80, 45) 10%,
      hsl(205, 90, 15)
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: hsl(205, 70, 95);
    padding: 0 10vh 10vh 10vh;
    box-sizing: border-box;
    text-align: center;
  }

  .room-form {
    display: flex;
    flex-wrap: nowrap;
    max-width: 500px;

    input,
    button {
      font-size: 22px;

      &:hover,
      &:focus {
        background-color: white;
      }
    }

    input {
      background-color: hsl(20, 50, 90);
      border-radius: 7px 0 0 7px;
      flex-grow: 2;
      margin-right: 0;

      &::placeholder {
        color: hsl(20, 15, 55);
      }

      &:hover,
      &:focus {
        background-color: white;

        &::placeholder {
          color: hsl(0, 0, 55);
        }
      }
    }

    button {
      background-color: hsl(20, 80, 50);
      border-radius: 0 7px 7px 0;
      margin-left: 0;
    }
  }
}
