.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10% 10% 10%;

  p {
    font-size: 1.5em;
  }
}

.loading {
  color: hsl(0, 0, 50%);
  background: linear-gradient(
    hsl(0, 0%, 95%) 25%,
    hsl(0, 0%, 97%) 31.25%,
    hsl(0, 0%, 95%) 37.5%
  );
  background-size: 100% 400%;
  animation: 5s ease-in infinite backwards shine;

  span {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 0.1em;
    animation: 0.8s ease-in-out infinite alternate both bounce;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:last-child {
      animation-delay: 0.4s;
    }
  }
}

.failed {
  color: hsl(20, 60%, 45%);
  background-color: hsl(20, 60%, 95%);
}

@keyframes shine {
  0% {
    background-position: 50% 100%;
  }
  60% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-0.15em);
  }
}
