@use "mixins" as *;

.window {
  min-width: var(--window-min-width);
  z-index: 2;

  .window-container {
    min-width: var(--window-min-width);
    will-change: transform;
    transform: translateZ(0);
    position: fixed;
    bottom: 0;
  }

  &.dock-side {
    max-width: var(--dock-side-width);

    .window-container {
      box-shadow: -5px 0 5px hsla(0, 0%, 0%, 15%);
      max-width: var(--dock-side-width);
      display: flex;
      flex-direction: column;
      height: calc(100% - var(--header-height, 0));
      right: 0;
    }

    .content-open {
      overflow: hidden;
      flex-grow: 2;
    }

    &.closed {
      min-width: 0;

      .bar {
        border-radius: 7px 0 0 0;
      }

      .window-container {
        height: fit-content;
        box-shadow: none;
      }
    }
  }

  &.dock-bottom {
    width: 100vw;
    min-height: var(--dock-bottom-height);

    .window-container {
      box-shadow: 0px -5px 5px hsla(0, 0%, 20%, 15%);
      height: var(--dock-bottom-height);
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .content-open {
      overflow: hidden;
      flex-grow: 2;
    }

    &.closed {
      min-height: 0;
    }

    &.closed .window-container {
      height: fit-content;
    }
  }

  &.overlay {
    min-width: 0;

    .window-container {
      width: 300px;
      right: 20px;
      box-shadow: 0px 5px 25px hsla(0, 0%, 0%, 50%),
        0px 5px 5px hsla(0, 0%, 0%, 5%);
    }

    .bar {
      border-radius: 7px 7px 0 0;
      button:last-child {
        border-radius: 0 7px 0 0;
      }
    }

    .content-open {
      height: 360px;
    }
  }

  .bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: hsl(0, 0%, 95%);
    box-shadow: inset 0px -5px 5px hsla(0, 0%, 0%, 5%);
    color: hsl(205, 50%, 40%);

    .title {
      font-size: 14px;
      font-weight: bold;
      padding: 0.5em 1em;
    }

    button {
      position: relative;
      font-size: 15px;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0.5em 1em;
      color: inherit;

      @include hover("&") {
        background-color: hsl(0, 0%, 80%);
        outline: none;
      }

      &.dock-side i {
        transform: rotate(90deg);
      }

      &.dock-bottom i {
        transform: rotate(180deg);
      }
    }
  }

  @include hover("&.closed .bar button[data-label-popup]") {
    &::after {
      top: unset;
      bottom: 100%;
    }
  }

  .content-open {
    display: flex;
    align-items: stretch;
  }

  .content-closed {
    max-height: 0;
    overflow: hidden;
  }
}
