.window-layout {
  --overlay-width: 360px;
  --dock-side-width: 250px;
  --dock-bottom-height: 240px;
  --full-vh: 100vh;
  --full-vw: 100vw;
  --vw: calc(var(--full-vw) / 100);
  --full-vmin: min(var(--full-vh), var(--full-vw));
  --vmin: calc(var(--full-vmin) / 100);
  --window-min-width: min(var(--overlay-width), var(--dock-side-width));

  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  .content-container {
    position: relative;
    padding: 0 calc(var(--vw, 1vw) * 10);
    background-color: hsl(205, 30, 60);
    flex-grow: 2;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  &.dock-side {
    flex-direction: row;

    &.open {
      --full-vw: calc(100vw - var(--dock-side-width));
    }

    .content-container {
      box-shadow: inset -5px -5px 5px hsla(0, 0, 0, 0.15);
    }
  }

  &.dock-bottom {
    flex-direction: column;

    &.open {
      --full-vh: calc(100vh - var(--dock-bottom-height));
    }

    .content-container {
      box-shadow: inset 0px -5px 5px hsla(0, 0, 0, 0.15);
    }
  }
}
